<div class="container">

  <h1>Welcome to the Dummy Users page!</h1>
  <p><i>Authenticating dummy users since August 2013</i></p>

  <% if @error && @error.length > 0 %>
    <div id="myModal" class="reveal-modal">
      <h1>Error!</h1>
      <% @error.each do |error| %>
        <p><%= error %></p>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  <% end %>

  <div id="posts" class="container">
    <% @all_posts.each do |post| %>
      <a href="/<%= post.id %>"><%= post.title %></a>
    <% end %>
  </div>
</div>