<div class="container">
  <h1>My Profile</h1>
  <img width="200" src="/images/chipmunk.jpg" alt="<%= @user.name %>">
  <h2><%= @user.name %></h2>
  <p><i>Member for the past <%= @time %> seconds</i></p>
  <a href="/my_submissions"><button>View My Submissions</button></a>
  <a href="/my_comments"><button>View My Comments</button></a>
</div>
